<section class="section background">
    <div class="section__title">Who Am I?</div>
    <div class="section__content">
        <p>
            I'm a recent graduate from the <span class="section__content__highlight">University of Alberta</span> with a
            B.Sc. in Computer Science. During that time, I had the pleasure of experiencing an 8 month internship with
            Farmlink Marketing Solutions, with whom I contributed as a Junior Software Developer for another 8 months
            after.
        </p>
        <p>
            As a software engineer, I've always enjoyed being hands on and building things, from attemping LeetCode
            problems, working on personal projects, to tinkering with PC parts.
        </p>
        <p>
            <span class="section__content__highlight">Away from my computer</span>, I'm probably hiking in Banff, paddle
            boarding down the Elbow river, or taking naps with
            my cat, Kimchi.
        </p>
    </div>
</section>