<section class="section experience">
    <div class="section__title">Experience</div>
    <div class="section__content">
        <div class="jobs">
            {% for job in site.data.experience.jobs %}
            <div class="job">
                <div class="job__header">
                    <div class="job__company">{{job.company}}</div>
                    <div class="job__date">{{job.date}}</div>
                </div>
                <div class="job__content">
                    <div class="job__title">{{job.title}}</div>
                    <div class="chips">
                        {% for tech in job.technologies %}
                        <div class="chip">{{tech.item}}</div>
                        {% endfor %}
                    </div>
                    <div class="job__description">{{job.description}}</div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- call to action -->
        <div class="section__content__highlight">
            <a href="../assets/resume.pdf" target="_blank" style="text-decoration:none;" class="resume_CTE">
                <span class="resume_CTE__link">
                    View my complete resume
                </span>
                <span class="material-symbols-outlined chevron_forward">
                    arrow_forward_ios
                </span>
            </a>
        </div>
    </div>
</section>