<section class="section footer">
    <div class="footer__credits">
        <p>
            Built by Darren Wang
        </p>
        <p>
            Inspiried by <a href="https://github.com/bchiang7" style="color:#DBE2EF">Brittany Chiang</a>
        </p>
    </div>
    <div class="footer__links">
        <a href="https://github.com/mrsora?tab=overview&from=2022-12-01&to=2022-12-31" target="_blank"
            class="footer__link">
            <img src="/assets/svg/github-mark-white.svg" alt="Github" class="footer__link" width="35px" />
        </a>
    </div>
</section>