@import 'partials/globals';

.footer {
    background-color: $background-color-dark;
    color: $light-grey;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 25px;

    &__credits {
        font-size: 0.7em;
        font-weight: 200;

        p {
            padding: 0px;
            margin: 0px;
        }
    }

}