@import 'partials/globals';

.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;

    // Mobile
    padding: 100px 65px;
    font-size: 1em;

    @include tablet {
        padding: 100px 85px;
        font-size: 1em;
        justify-content: space-evenly;
    }

    @include laptop {
        padding: 0px 350px 0px 85px;
        font-size: 1em;
    }

    @include desktop {
        padding: 0px 350px 0px 185px;
        font-size: 1em;
    }

    @include xl {
        padding: 200px;
        font-size: 1em;
        justify-content: space-evenly;
    }


    &__hello {
        font-weight: 400;
        text-wrap: nowrap;
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;

    }

    &__placeholder {
        visibility: hidden;
        justify-self: end;
    }

    &__name {
        font-weight: 600;
        color: $cyan-dark-highlight;
    }

    &__brief,
    &__contact {
        font-weight: 300;

        &__link {
            color: $cyan-highlight;
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-line: underline;
            text-decoration-thickness: 2px;
        }
    }

    .waving {
        animation: wave 2s infinite;
    }

    @keyframes wave {
        0% {
            transform: rotate(0deg);
        }

        10% {
            transform: rotate(10deg);
        }

        20% {
            transform: rotate(-10deg);
        }

        30% {
            transform: rotate(10deg);
        }

        40% {
            transform: rotate(-10deg);
        }

        50% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    .down_arrow {
        display: flex;
        justify-content: center;
        color: $cyan-highlight;
        font-size: 2em;
        margin-top: 35px;

    }

    .bouncing {
        animation: bounce 3s 15;
    }

    @keyframes bounce {

        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(20px);
        }

        100% {
            transform: translateY(0);
        }
    }
}