@import 'partials/globals';

.jobs {
    display: flex;
    flex-direction: column;

    .job {
        &__header {
            font-size: 1em;
            font-weight: 400;
            padding-bottom: 10px;

            @include tablet {
                display: flex;
                flex-direction: row;
                align-content: center;
                justify-content: space-between;
                padding-bottom: 0px;
            }
        }

        &__date {
            color: $secondary-text;
            font-weight: 200;
            font-style: italic;
            font-size: 0.8em;
        }

        &__content {
            padding-bottom: 2em;
        }

        &__title {
            font-size: 0.9em;
            font-weight: 300;
        }

        &__description {
            padding-top: 1em;
            font-size: 0.8em;
        }
    }
}

.resume_CTE {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    &__link {
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        color: $cyan-highlight;
    }

    .chevron_forward {
        color: $cyan-highlight;
    }
}